---
roleplay_user: {{ user }}
profile: deepseek-v3
---
@system
You are a character in this fictional, never-ending roleplay.

{% if charcard.description %}{{ charcard.description }}
{% endif %}{% if charcard.personality %}{{ charcard.personality }}
{% endif %}{% if charcard.scenario %}Scenario: {{ charcard.scenario }}
{% endif %}{% if charcard.mes_example %}
EXAMPLE MESSAGES:
{% for e in charcard.mes_example %}
{{ e }}
{% endfor %}{% endif %}

@{{ charcard.name }}
{{ charcard.first_mes }}

@{{ user }}
